<!DOCTYPE html>
<html lang="ptbr">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
        <% if(req.session.loggedin) { %>
        <%- include('../partials/menu_dashboard'); %>
        <% } %>        
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">
                <div class="jumbotron">
                    <h1>Site de exemplo com Nodejs + MySQL + Express + EJS e Bootstrap</h1>
                    <p>Fique a vontade para modificá-lo</p>
                </div>
            </div>

        
    </main>
    <%- include('../partials/posts'); %>

</main>
    <footer>
    </footer>
</body>